<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.boot.mapper.CredentialMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.spring.boot.entity.Credential">
        <id column="id" property="id" />
        <result column="created_time" property="createdTime" />
        <result column="last_modified_time" property="lastModifiedTime" />
        <result column="deleted" property="deleted" />
        <result column="version" property="version" />
        <result column="app_id" property="appId" />
        <result column="app_secret" property="appSecret" />
        <result column="signer" property="signer" />
        <result column="algorithm" property="algorithm" />
        <result column="expired_at" property="expiredAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, created_time, last_modified_time, deleted, version, app_id, app_secret, signer, algorithm, expired_at
    </sql>

    <select id="getByParam" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from credential
        where 1=1
        <if test="appId != null">
          and app_id = #{appId}
        </if>
        <if test="appSecret != null">
            and app_secret = #{appSecret}
        </if>
        limit 1
    </select>

</mapper>
